nav {
    display: flex;
    background-color: white;
    color:black;
    justify-content:space-between;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1.5px solid #e0e0e0;
  }
  .logo {
    height: 50px;
    
  }
  .right {
    display: flex;
    align-items: center;
    gap: 10rem;
  }
  .buttons {
    display: flex;
    gap: 20px;
  }
  button {
    font-size: 18px;
    border: 1px solid black;
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 10px;
    cursor: grab;
  }
  ul {
    display: flex;
    list-style-type: none;
    gap: 200px;
  }
  .mainImage{
    width: 100%;
  }
  main{
    margin-top: 9rem;
    position: relative;
    
  }
  h1{
    position: absolute;
    right: 24%;
    font-size: 70px;
    top: -45px;
}
p{position: absolute;
display: flex;
top: 160px;
width: 45%;
right:12% ;}