body {
  background-image: url("./alexander-park-9kgja4a90LI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.logo{height: 100px;
background-color: white;}
nav{
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-between;
  padding: 1rem 2rem;
  
}
.right{
  display:flex;
  align-items: center;
  gap: 10rem;

}
ul{
  display:flex;
  list-style-type: none;
  gap: 50px;
}
.buttons{display: flex;
gap: 20px;}
button{
  font-size: 18px;
  border: 1px solid black;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 10px;
  cursor: grab;
}
/* descendant combinator */
.box p {
  color: green;
}
/* child combinator */
section > p {
  color: red;
}
p + section {
  background-color: yellowgreen;
}
#text {
  background-color: #cf1d1d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
}
#text:hover {
  background-color: rgb(255, 255, 28);
  height: 50px;
  color: black;
  border: radius 20px;
  padding: 10px 20px;
  cursor: grab;
}
.para {
  visibility: hidden;
  color: white;
  text-align: center;
  text-decoration: dotted;
  line-height: 30px;
  letter-spacing: 5px;
  word-spacing: 30px;
  font-size: 20px;
}
.two {
  display: inline;
  background-color: #cf1d1d;
  width: 100px;
  height: 500px;
}

.block {
  display: inline-block;
  background: yellow;
  width: 100px;
  height: 25px;
  text-align: center;
}

.flex {
  background: rgb(172, 21, 21);
  display: flex;
  gap: 30px;
  font-size: 40px;
  justify-content: center;
  height: 20rem;
  align-items: center;
}
.flex-column{
  display: flex;
  background-color: blue;
  height: 50rem;
  font-size: 50px;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  

}
